.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.source-link {
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  margin: 15px;
  min-width: 300px;
}


