<mat-toolbar>
  <span>Forgot password</span>
  <span>We will send Recovery code to your Email</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="forgotPasswordForm" class="my-form">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput  placeholder="Email" name="email" formControlName="email">
        <mat-error *ngIf="email?.errors?.email && !email?.errors?.required">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email?.errors?.required">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="submit()" color="primary">SEND</button>
  </mat-card-actions>
</mat-card>
