<div class="view-container">
  <mat-toolbar>
    <span>Settings</span>
  </mat-toolbar>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Change password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-change-password></app-change-password>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Telegram integration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-telegram></app-telegram>
    </mat-card-content>
  </mat-card>
</div>
