<div class="view-container">
  <mat-toolbar>
    <span>Settings</span>
    <span class="flex-1"></span>
    <a
      mat-button
      [routerLink]="['/', 'settings', 'user-profile']"
      [routerLinkActive]="['active']"
      #rlaUserProfile="routerLinkActive"
      [color]="rlaUserProfile.isActive ? 'primary' : null"
      >USER PROFILE</a
    >
    <a
      mat-button
      [routerLink]="['/', 'settings', 'access-history']"
      [routerLinkActive]="['active']"
      #rlaAccessHistory="routerLinkActive"
      [color]="rlaAccessHistory.isActive ? 'primary' : null"
      >ACCESS HISTORY</a
    >
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
