<mat-card-header>
  <mat-card-title>Change password</mat-card-title>
</mat-card-header>
<mat-card-content>
  <form [formGroup]="forgotPasswordForm" class="my-form">
    <mat-form-field class="full-width">
      <mat-label>Old Password</mat-label>
      <input matInput placeholder="Old Password" name="oldPassword" formControlName="oldPassword" />
      <mat-error *ngIf="oldPassword?.errors?.required">
        Old Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="New Password" name="newPassword" formControlName="newPassword" />
      <mat-error *ngIf="newPassword?.errors?.required">
        New Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button (click)="submit()" color="primary">SUBMIT</button>
</mat-card-actions>
