<div class="view-container">
  <mat-toolbar>
    <span>{{ pageMode | titlecase }} filter</span>
    <span class="flex-1"></span>
    <a [routerLink]="['/', 'filters']" mat-raised-button color="warn">cancel</a>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <form [formGroup]="filterForm" class="my-form">
        <!-- Name field -->
        <mat-form-field class="full-width">
          <mat-label>Filter name</mat-label>
          <input
            matInput
            placeholder="Filter name"
            name="filterName"
            formControlName="filterName"
          />
          <mat-error *ngIf="filterName?.errors?.required">
            Filter name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- Currency field -->
        <mat-form-field class="full-width">
          <mat-label>Currency</mat-label>
          <mat-select name="currency" formControlName="currency">
            <mat-option value="BYN">BYN</mat-option>
            <mat-option value="USD">USD</mat-option>
          </mat-select>
          <mat-error *ngIf="currency?.errors?.required">
            Currency is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- City field -->
        <mat-form-field class="full-width">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" name="city" formControlName="city" />
        </mat-form-field>

        <!-- Min Price field -->
        <mat-form-field class="full-width">
          <mat-label>Min Price</mat-label>
          <input
            matInput
            placeholder="Min Price"
            name="minPrice"
            formControlName="minPrice"
            type="number"
          />
        </mat-form-field>

        <!-- Max Price field -->
        <mat-form-field class="full-width">
          <mat-label>Max Price</mat-label>
          <input
            matInput
            placeholder="Max Price"
            name="maxPrice"
            formControlName="maxPrice"
            type="number"
          />
        </mat-form-field>

        <!-- Rooms Number field -->
        <mat-form-field class="full-width">
          <mat-label>Rooms Number</mat-label>
          <input
            matInput
            placeholder="Rooms Number"
            name="roomsNumber"
            formControlName="roomsNumber"
            type="number"
            min="1"
            max="10"
          />
          <mat-error *ngIf="roomsNumber?.errors?.max">
            Max allowable value <strong>10</strong>, actual is
            {{ roomsNumber?.errors?.max?.actual }}
          </mat-error>
          <mat-error *ngIf="roomsNumber?.errors?.min">
            Min allowable value <strong>1</strong>, actual is
            {{ roomsNumber?.errors?.min?.actual }}
          </mat-error>
        </mat-form-field>
      </form>
      <button
        mat-raised-button
        (click)="submit()"
        color="primary"
        class="sbmt-btn-top"
        [disabled]="loading | async"
      >
        SUBMIT
      </button>
    </mat-card-content>
  </mat-card>
</div>
