@import '~@angular/material/theming';
@import 'layout';

$size: 25vw;
$min-size: 350px;
$max-size: 448px;

.filters-container {
  & > * {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.example-card {
  width: $size;
  min-width: $min-size;
  max-width: $max-size;
  height: $size;
  min-height: $min-size;
  max-height: $max-size;
  margin: 20px;

  &:hover {
    cursor: pointer;
    @include mat-elevation(10);
  }

  .source-link {
    color: black;
  }
}

.mat-card-image {
  object-fit: cover;
  height: calc(100% - 112px);
  width: calc(100% + 32px);
}

@media screen and (max-width: 400px) {
  .example-card {
    width: 90vw;
    min-width: calc(90vw - 40px);
  }
}
