@import '~@angular/material/theming';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .example-card {
    width: 25vw;
    min-width: 350px;
    height: 25vw;
    min-height: 350px;
    margin: 20px;

    &:hover {
      cursor: pointer;
      @include mat-elevation(10);
    }

    .source-link {
      color: black;
    }
  }
}

.mat-card-image {
  object-fit: cover;
  height: calc(100% - 112px);
  width: calc(100% + 32px);
}

@media screen and (max-width: 400px) {
  .container .example-card {
    width: 90vw;
    min-width: calc(90vw - 40px);
  }
}
