 <mat-toolbar color="primary" class="example-toolbar">
  <h1 class="header-title big">Taphut</h1>
  <span class="flex-1"></span>

  <a mat-button [routerLink]="['/', 'auth', 'signin']">signin</a>
  <a mat-button [routerLink]="['/', 'auth', 'signup']">signup</a>
  <a mat-button [routerLink]="['/', 'auth', 'signup', 'confirm']">signup confirm</a>
  <a mat-button [routerLink]="['/', 'auth', 'password', 'forger']">forget password</a>
  <a mat-button [routerLink]="['/', 'auth', 'password', 'forger', 'confirm']">forger password confirm</a>
  <a mat-button [routerLink]="['/', 'auth', 'password', 'change']">password change</a>
</mat-toolbar>

<router-outlet></router-outlet>
