<div class="view-container">
  <mat-toolbar>
    <span>Filters panel</span>
    <span class="flex-1"></span>
    <a [routerLink]="['/', 'filters', 'create']" mat-raised-button color="primary">create</a>
  </mat-toolbar>

  <div *ngIf="!dataSource.data.length" class="layout vertical center">
    <span class="font-30">There are no filters.</span>
  </div>

  <div *ngIf="dataSource.data.length" class="layout vertical">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="filterName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.filterName }}</td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
          <td mat-cell *matCellDef="let element">{{ element.city }}</td>
        </ng-container>

        <!-- Currency Column -->
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
          <td mat-cell *matCellDef="let element">{{ element.currency }}</td>
        </ng-container>

        <!-- Min Price Column -->
        <ng-container matColumnDef="minPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Min price</th>
          <td mat-cell *matCellDef="let element">{{ element.minPrice }}</td>
        </ng-container>

        <!-- Max Price Column -->
        <ng-container matColumnDef="maxPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Max price</th>
          <td mat-cell *matCellDef="let element">{{ element.maxPrice }}</td>
        </ng-container>

        <!-- Rooms Number Column -->
        <ng-container matColumnDef="roomsNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rooms</th>
          <td mat-cell *matCellDef="let element">{{ element.roomsNumber }}</td>
        </ng-container>

        <!-- Edit Action Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <a
              [routerLink]="['/', 'filters', 'edit', element.filterName]"
              mat-mini-fab
              color="primary"
              aria-label="icon button with a edit icon"
            >
              <mat-icon>edit</mat-icon>
            </a>
          </td>
        </ng-container>

        <!-- Delete Action Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-mini-fab
              color="warn"
              aria-label="icon button with a delete icon"
              (click)="deleteFilter(element.filterName)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7">No data matching the filter "{{ input.value }}"</td>
        </tr>
      </table>
    </div>
  </div>
</div>
